* {
  box-sizing: border-box;
}

.name {
  background-color: rgb(212, 213, 214);
  text-align: center;
}

.column1 {
  background-color: beige;
  float: left;
  width: 50%;
  text-align: center;
}

.column2 {
  background-color: rgb(156, 156, 152);
  float: left;
  width: 50%;
  text-align: center;
}

/*Celar floats after the columns*/
.row::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: darkcyan;
  text-align: center;
  padding: 3px;
}
